# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.BRP.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Github projects\BRP\.idea\.idea.BRP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
